<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html dir="auto" lang="auto">


<head>
    <meta charset="utf-8">
    <title>{% block titlePage %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{% translate 'Riyadh Oasis Real Estate, Riyadh properties, Riyadh real estate agents, Riyadh homes for sale, Riyadh apartments for rent, Riyadh commercial properties, buy property in Riyadh, sell property in Riyadh, Riyadh real estate market, luxury homes Riyadh, Riyadh property listings, Riyadh real estate services' %}" name="keywords">
    <meta content="{% translate 'Riyadh Oasis Real Estate offers premium property listings in Riyadh, including residential and commercial properties, apartments, and luxury homes. Our expert real estate agents are dedicated to helping you buy, sell, or rent the perfect property in Riyadh. Explore the vibrant real estate market with us today' %}" name="description">

    <!-- Favicon -->
    <link href="{% static 'assets/img/logo/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'assets/lib/animate/animate.min.css' %} " rel="stylesheet">
    <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css' %} " rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'assets/css/style.css' %} " rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">

        {% include 'real_estate/navbar/navbar.html' %}

        {% block content %}

        {% endblock %}

        {% include 'real_estate/footer/footer.html' %}

    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/lib/wow/wow.min.js' %} "></script>
    <script src="{% static 'assets/lib/easing/easing.min.js' %} "></script>
    <script src="{% static 'assets/lib/waypoints/waypoints.min.js' %} "></script>
    <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %} "></script>

    <!-- Template Javascript -->
    <script src="{% static 'assets/js/main.js' %} "></script>
</body>

</html>